.wrapper {
  display: grid;
  grid-template-columns: 1fr;
  /* margin: 50px auto auto; */
  grid-template-columns: 1fr 4fr;
  margin-top: 80px;
}
.prod-container {
  box-shadow: rgba(61, 79, 97, 0.2) 0px 8px 24px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 30px;
  cursor: default;
  outline: none;
  margin-right: 10px;
}

.prod-container2 {
  width: 300px;
  box-shadow: rgba(61, 79, 97, 0.2) 0px 8px 24px;
  border-radius: 10px;
  background-color: white;
  position: relative;
  text-align: center;
  box-sizing: border-box;
  padding: 10px;
  margin-bottom: 30px;
  cursor: default;
  outline: none;
  margin-right: 10px;
}

.prod-img {
  width: 100%;
  height: 270px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  ::before {
    content: "";
    display: block;
    position: absolute;
    background: #eee;
    width: 100%;
    height: 100%;
    z-index: -1;
  }
}

.prod-img2 {
  width: 50px;
  height: 80px;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.cart-prod {
  padding: 50px;
  border-radius: 10px;
  background-color: #f3f3f3;
  display: flex;
  justify-content: space-between;
}

.prod-title {
  position: relative;
  padding: 0px 20px;
  height: 45px;
}

.price-container {
  margin-top: 10px;
}

.add-btn {
  background-color: rgb(27, 26, 32);
  color: rgb(255, 255, 255);
  padding: 15px 0px;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
  border: 0px;
  transition: background-color 0.2s ease 0s;
}

.add-btn:hover {
  background-color: rgb(72, 70, 84);
}

.add-btn:disabled {
  background-color: rgb(96, 96, 96);
}
.remove-btn {
  background-color: rgb(174, 174, 174);
  color: rgb(255, 255, 255);
  padding: 15px 0px;
  margin-top: 10px;
  cursor: pointer;
  width: 100%;
  border: 0px;
  transition: background-color 0.2s ease 0s;
}

.found {
  display: grid;
  grid-template-columns: 1fr 1fr;
  -webkit-box-pack: end;
  justify-content: end;
  padding: 0px 15px;
}

.prod-grid {
  display: grid;
  grid-template-columns: repeat(5, 1fr);

  /* @media only screen and (min-width: ${({ theme: { breakpoints } }) =>
          breakpoints.tablet}) {
        grid-template-columns: repeat(3, 1fr);
      }

      @media only screen and (min-width: ${({ theme: { breakpoints } }) =>
          breakpoints.desktop}) {
        grid-template-columns: repeat(4, 1fr);
      } */
}
