.cart-wrapper {
  position: fixed;
  top: 0;
  right: -100%; /* ${({ isOpen }) => (isOpen ? '0' : '-100%')};*/
  width: 100%;
  height: 100%;
  background-color: black;
  box-sizing: border-box;
  z-index: 99;

  transition: right 0.2s;

  /* ${CartButton} {
        left: ${({ isOpen }) => (isOpen ? '0' : '-50px')};
        background-color: ${({ theme, isOpen }) =>
          isOpen ? theme.colors.black : theme.colors.primary};
      } */

  @media only screen and (min-width: 768px) {
    width: 450px;
    right: -450px;
  }

  /* @media only screen and (min-width: ${({ theme: { breakpoints } }) =>
          breakpoints.tablet}) {
        width: 450px;
        right: ${({ isOpen }) => (isOpen ? '0' : '-450px')};

        ${CartButton} {
          left: -50px;
        }
      } */
}
.cart-wrapper button {
  /*left: ${({ isOpen }) => (isOpen ? '0' : '-50px')};*/
  left: -70px;
}

.items-wrapper {
  position: relative;
  min-height: 280px;
  padding-bottom: 200px;
}

.cart-body {
  height: 100%;
  overflow-y: scroll;
}

.cart {
  left: "-50px";
  background-color: rgb(71, 50, 162);
  border: 0px;
  padding: 0px;
  width: 70px;
  height: 70px;
  color: rgb(236, 236, 236);
  background-color: rgb(71, 50, 162);
  text-align: center;
  line-height: 50px;
  position: absolute;
  top: 0px;
  left: 0px;
  cursor: pointer;
  z-index: 2;
}

.quantity {
  display: inline-block;
  width: 30px;
  height: 30px;
  color: rgb(12, 11, 16);
  font-weight: bold;
  font-size: 20px;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
  background-color: rgb(234, 191, 0);
  position: absolute;
  bottom: 0px;
  right: 5px;
}

.content {
  width: 70px;
  height: 70px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 15px;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAQAAADZc7J/AAAABGdBTUEAALGPC/xhBQAAACBjSFJNAAB6JgAAgIQAAPoAAACA6AAAdTAAAOpgAAA6mAAAF3CculE8AAAAAmJLR0QAAKqNIzIAAAAJcEhZcwAADdcAAA3XAUIom3gAAAAHdElNRQfiCwwQEgYn7+gWAAABQklEQVRIx9WTsUoDQRRF72xMYSFokcRCjBFESGWRwtZe8AtEFFNrI1bB0tLGQuzs/AJB8AO2kZRCxBiRQNKIoIYoyLFwCZuss9nNgpBXzc7be3j3zow09mU48321zVF8gNtbZ5Q1UwmGYQPIxFU5vnVdUuHfARO+OD5oa9GzM6NcbICkem+CLZ0kA1zKHQ2w6tlpqRUN4AwA5knFiTAISGsuHqDfwoOkgp4kUkoP1WI+Azt02ZYk9hle3cAEBh69c7iKEOJ30IJU/71KpqbaKCH6b0LEGgTcaYXpeIj+GJf54pyI70CSTACxq1M5ehmqvDCHfwIkFrQW4S1WzXUCq+E5lNhkMqSfo0ze3t7hlWeqIfJ3GnQo2n644ZhZYMnSL9OQcKnYAHs0ueUeY+nn6eDyRskGcFjngGxIBkUqVvk41g+oBJ136GBf8AAAACV0RVh0ZGF0ZTpjcmVhdGUAMjAxOC0xMS0xMlQxNjoxODowNiswMTowMEVm3zEAAAAldEVYdGRhdGU6bW9kaWZ5ADIwMTgtMTEtMTJUMTY6MTg6MDYrMDE6MDA0O2eNAAAAGXRFWHRTb2Z0d2FyZQB3d3cuaW5rc2NhcGUub3Jnm+48GgAAAABJRU5ErkJggg==);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50%;
}
